body{
    font-family: 'Ubuntu', sans-serif;
}
.wrap{
    max-width:600px;
    margin: 100px auto 0 auto;
}

.hiding{
    display:none;
}
.commence{
    text-align: center;
}
.scoring{
    position:absolute;
    top: 10px;
    left: 10px;
}
.feedback-1{
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    font-size: 110%;
}
.timing{
    position: absolute;
    top: 10px;
    right: 10px;
}
a{
    color: black;
    text-decoration: none;
    transition: color 0.1s;
}

a:hover{
    color: hotpink;
}

button{
    margin: 5px;
    background-color: rgb(59, 0, 85);
    cursor: pointer;
    transition: background-color 0.1s;
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    display: inline-block;
    border-radius: 5px;
    color:white;
    padding: 2px 10px;
    border: 0;
}
button:hover{
    background-color: aquamarine;
}
.choice button{
    display:block;
}
input[type="text"]{
    font-size: 100%;
}

ol{
    max-height: 400px;
    overflow:auto;
    padding-left: 0px;
}

li{
    list-style: decimal inside none;
    padding: 5px;
}
li:nth-child(odd){
    background-color: aquamarine;
}
